<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Song</title>
    <th:blook th:replace="~{layout :: bootstrap}"></th:blook>
</head>
<body>
<h3>Add Music</h3>
<p>
    <a th:href="@{/music}">
        Back to music list
    </a>
</p>
<h1>Create New Song</h1>
<!--<a href="/list"><button class="btn btn-primary">Back to List Song</button></a>-->
<form action="/music/save" th:object="${music}" method="post">
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                Name of song:
            </th>
            <td>
                <input type="text" th:field="*{name}">
            </td>
        </tr>
        <tr>
            <th>
                Singer:
            </th>
            <td>
                <input type="text" th:field="*{artist}">
            </td>
        </tr>
        <tr>
            <th>
                Type:
            </th>
            <td>
                <input type="text" th:field="*{type}">
            </td>
        </tr>
        <tr>
            <th>
                Link:
            </th>
            <td>
                <input type="text" th:field="*{link}">
            </td>
        </tr>
    </table>
    <button class="btn btn-primary" type="submit">Submit</button>

</form>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>