<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Remove Customer</h3>
<p>
    <a th:href="@{/musuc}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/customer/delete}" th:object="${customer}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Artist</label>
            <input type="email" th:field="*{artist}"/>
        </div>
        <div>
            <label>Type</label>
            <input type="text" th:field="*{type}"/>
        </div>
        <div>
            <label>Link</label>
            <input type="text" th:field="*{link}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>