<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h2>Create New Email</h2>
<form th:action="@{/email/save}" method="post" th:object="email">
    <div>
        Language:
        <select name="language" id=""  th:field="${email.language}">
            <option th:value="English" >English</option>
            <option th:value="VietNamese" >VietNamese</option>
            <option th:value="Japanese" >Japanese</option>
            <option th: th:value="Chinese">Chinese</option>
        </select>
    </div>
    <div>
        Page Sizes:
        <select name="size" id="size" th:field="${email.pageSize}" >
            <option  th:value="5" >5</option>
            <option th:value="10" >10</option>
            <option th:value="15">15</option>
            <option th:value="20">20</option>
            <option th:value="50">50</option>
            <option th:value="100">100</option>
        </select>
    </div>
    <div>
        Signature:
        <textarea name="signature" th:field="${email.signature}" rows="5" cols="70" />
    </div>
    <div>
        <input type="submit" value="Register">
    </div>
</form>
</body>
</html>
